<!doctype html>
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang=""> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>PHP Mentoring</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="apple-touch-icon" href="{{ app.request.baseUrl }}/apple-touch-icon.png">

    <link rel="stylesheet" href="{{ app.request.baseUrl }}/css/app.min.css">

</head>
<body data-ng-app="mentoringApp" class="ng-scope">


{% block prenav %} 
{% endblock %}

<nav>
    <ul class="navigation">
        <li>
            <a href="/" class="logo">
                <svg xmlns:svg="http://www.w3.org/2000/svg" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" viewBox="0 0 300 160" id="php-logo">
                      <path d="m 45,125 16,-81 37,0 c 16,1 24,9 24,23 0,24 -19,38 -36,37 l -18,0 -4,21 -19,0 z m 27,-36 5,-30 13,0 c 7,0 12,3 12,9 -1,17 -9,20 -18,21 l -12,0 z" id="p" style="fill-rule:evenodd;stroke:#ffffff;stroke-width:2;stroke-linejoin:round;fill:#ffffff"/>
                      <path d="m 116,104 16,-81 19,0 -4,21 18,0 c 16,1 22,9 20,19 l -7,41 -20,0 7,-37 c 1,-5 1,-8 -6,-8 l -15,0 -9,45 -19,0 z" id="h" style="stroke:#ffffff;stroke-width:2;stroke-linejoin:round;fill:#ffffff"/>
                      <use transform="translate(134,0)" id="p2" xlink:href="#p" class=""/>
                    </svg>
                    <span>Mentoring</span>
            </a>
        </li>
        <li>
            <a href="/guidelines">Guidelines</a>
        </li>
        <li>
            <a href="/why">Why Mentoring</a>
        </li>
        <li>
            <a href="/mentors">Search Mentors</a>
        </li>
        <li>
            <a href="/apprentices">Search Apprentices</a>
        </li>
        <li>
            <a href="http://webchat.freenode.net/?channels=phpmentoring&amp;uio=MTE9MjI2dd">Join us on IRC</a>
        </li>
    </ul>
</nav>

<article>
    <header>
        <h1>{% block title %} Default {% endblock %}</h1>
    </header>

    <div class="container">
        
        {% block flashes %}
            {# System Flash Messages #}
            {% for flash_type,flash_messages in app.session.getFlashBag().all() %}
                {% for message in flash_messages %}
                    <div class="alert alert-{{ flash_type }}">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endfor %}
        {% endblock %}

        {% block content %}
        {% endblock %}

    </div>

    <footer>
        
    </footer>
</article>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.js"></script>
<script src="/js/prism.js"></script>
<script src="/js/app.js"></script>
</body>
</html>
